// 英文 Newsreader
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

// 中文 Noto Serif Traditional Chinese
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

*,
*::after,
*::before {
  box-sizing: content-box;
  // outline: 1px solid blue;
}

body {
  font-family: "Newsreader", "Noto Serif TC", serif;
  // color: $tertiary;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto; // 建議加上
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
  // color: $primary;
  vertical-align: middle;
  display: inline-block;
}

a, button {
  &:hover {
    filter: brightness(50%);
  }
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  // 文字水平間距，相對於自身 font-size 的值 
  letter-spacing: 0.1em;
  margin: 0;
  display: inline-block;

}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

h6 {
  font-weight: 700;
}