.landing {
  .landing-container {
    width: 100%;
    background-image: url('../../images/bn-sm.png');
    background-repeat: no-repeat;
    background-size: cover; // 自適應容器
  }

  .content {
    margin-top: auto;
    color: $neutral-white;
  }
}