.navbar {
  .search-input {
    padding: 8px 20px;

    &::placeholder {
      font-size: 0.75rem;
      line-height: 1.5;
      font-weight: 700;
    }
  }

  .search-btn {
    right: 10px;
  }

  .nav-item a {
    padding-left: 12px;
  }
  

  .btn-login button {
    background-color: $accent-200;
    color: $neutral-white;
    width: 90%;
    padding: 12px 20px;
  }

  .offcanvas-backdrop.show {
    opacity: 0;
  }
}