.fs-1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 600;
}

// .shadows-primary {

// }

.radius-1 {
  border-radius: 4px;
}

.radius-2 {
  border-radius: 12px;
}

.radius-3 {
  border-radius: 20px;
}