$primary-1: #FFFDF5;
$primary-2: #FFFBE5;
$primary-3: #E8E3DA;
$primary-4: #db2626;

$accent-1: #E0EFDE;
$accent-2: #569573;
$accent-3: #406C55;

$neutral-1: #FFFFFF;
$neutral-1: #F8F9FA;
$neutral-1: #DEE2E6;
$neutral-1: #ADB5BD;
$neutral-1: #6C757D;
$neutral-1: #343A40;
$neutral-1: #212529;

$info: #4A72FF;
$success: #2CC585;
$warning: #FFB054;
$danger: #D65F5F;


