$primary-100: #FFFDF5;
$primary-200: #FFFBE5;
$primary-300: #E8E3DA;
$primary-400: #db2626;

$accent-100: #E0EFDE;
$accent-200: #569573;
$accent-300: #406C55;

$neutral-white: #FFFFFF;
$neutral-100: #F8F9FA;
$neutral-200: #DEE2E6;
$neutral-300: #ADB5BD;
$neutral-400: #6C757D;
$neutral-500: #343A40;
$neutral-600: #212529;

$special-info: #4A72FF;
$special-success: #2CC585;
$special-warning: #FFB054;
$special-danger: #D65F5F;


